@tailwind base;
@tailwind components;
@tailwind utilities;

.disable-zoom {
  zoom: reset;
}

.text-smooth {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "CabinetGrotesk-Variable";
  src: url("./assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "GeneralSans-Variable";
  src: url("./assets/fonts/GeneralSans-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@layer base {

  a,
  p,
  span {
    @apply font-grotesk;
  }

  h1,
  h2,
  h3 {
    @apply font-general tracking-headings;
  }

  .font-outline-4 {
    -webkit-text-stroke: 5px black;
  }

  .font-outline-3 {
    -webkit-text-stroke: 4px #0E0E0C;
  }
}

@layer components {
}

@layer utilities {
  .title {
    clip-path: polygon(0 0, 200% 0, 100% 102%, 0% 102%);
  }

  .title {
    line-height: clamp(5.5rem, 20.5vw, 10rem); /* Set the desired line height */
  }
}
